.topbarLink {
  color: #383838;
  font-family: "Inria Serif Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  padding: 0.125rem 0.25rem;
}

.topbarLink:hover {
  opacity: 0.9;
}


.topbar-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(246, 244, 240, 0.7);
  background-blend-mode: overlay;
}

